extends layout

block content
  .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/allUsers')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/hashtag')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

  .hero-image
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/logout')
          span.glyphicon.glyphicon-off
          |  logout
      li
          .avatar.rounded-circle
             img(src='/ficheiros/' + user.foto)

  .titulo
    h2 Utilizadores

  ////////////PAGINA EM SI      

  .page-content

    .row
      .col-sm-9

    .row-edit
      .card-columns
        each membro in lista
            if(membro._id!=user._id)
                .card
                    img.card-img-top(src='/ficheiros/' + membro.foto alt='Card image cap')
                    .card-body
                      h5.card-title.h2GOD= membro.name
                      if(user.friends.includes(membro._id))
                        badge.badge-pill.badge-danger Amigos
                      else
                          badge.badge-pill.badge-warning Privado
                      p.card-text
                        | Descrição: #{membro.bio}
                      p.card-text
                      form(action=('http://localhost:5004/checkProfile/' + membro._id ) method="GET")         
                        button.btn.btn-success(type='submit') Ver Perfil