doctype html
html
  head
    meta(charset="UTF-8")
    //- Favicon
    link(href='/assets/img/brand/favicon.png' rel='icon' type='image/png')
    //- Fonts
    link(href='' rel='stylesheet')
    //- Icons
    link(href='/js/plugins/nucleo/css/nucleo.css' rel='stylesheet')
    link(href='/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' rel='stylesheet')
    //- CSS
    link(type='text/css' href='/assets/css/argon.css' rel='stylesheet')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/assets/vendor/select2/select2.min.css")


    //- Core
    script(src='/js/ficheiros/gficheiros.js')


    script(src='/js/plugins/jquery/dist/jquery.min.js')
    script(src='/assets/vendor/select2/select2.min.js')
    script(src='/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')
    //- JS
    script(src='/assets/js/argon.min.js')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    //- Ficheiros
    script(src='/js/ficheiros/jquery-3.4.1.min.js')
    

    script(src="/js/ficheiros/jquery.modal.min.js")

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


  body
    block content
    




  style.

    body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }

    div.statico {
      position: static;
      margin-left: 0%;
      margin-top: 0%;
      border: 3px solid #73AD21;
    }