extends layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='/allFriends')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?         

                li
                  a(href='/allUsers')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/hashtag')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout')
            span.glyphicon.glyphicon-off
            |  logout
        li
            .avatar.rounded-circle
               img(src='/ficheiros/' + user.foto)

    .titulo
        h2 Página Inicial

    .page-content
      p
        img(src="assets/img/bv.png" width="100%")
