extends layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a
            span.glyphicon.glyphicon-inbox
              |  Mensagens
        li
          a(href='#')
            .avatar  Avatar

    .titulo
        h2 Mr. Book


        .page-content
            .containerPosts
                .col-sm-8
                  .panel.panel-white.post.panel-shadow
                    each post in postes
                      each grupo in grupos
                        if(grupo._id == post.idGroup)
                          .singlePost
                            .post-heading
                              .pull-left.image
                              .pull-left.meta
                                .title.h5
                                  a(href='#')
                                  |                         publicou algo.
                                h6.text-muted.time= ("" + new Date(parseInt(post.date))).split('GMT')[0]
                            .post-description
                              h4 Titulo: #{post.title}

                              p=post.text
                              .stats
                                .row
                              
                          