extends ../layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a
            span.glyphicon.glyphicon-inbox
              |  Mensagens
        li
          a(href='#')
            .avatar  Avatar

    .titulo
        h2 Mr. Book


    .page-content
        #teachers-section.site-section
            .containerCredits
                .row.mb-5.justify-content-center
                    .col-lg-7.mb-5.text-center(data-aos='fade-up' data-aos-delay='')
                        h2.section-title Quem somos?
                        p.mb-5
          
                .row
                    .col-md-6.col-lg-4.mb-4(data-aos='fade-up' data-aos-delay='100')
                        .teacher.text-center
                            img.img-fluid.w-50.rounded-circle.mx-auto.mb-4(src='assets/img/ines.jpg' alt='Image')
                            .py-2
                                h3.text-black Inês Alves
                                p.position MiEI
                                | Interesses: música
                                p
                                a(href="https://github.com/ineesalvees")
                                  i.fab.fa-github=" "+"ineesalvees" 
                    .col-md-6.col-lg-4.mb-4(data-aos='fade-up' data-aos-delay='200')
                        .teacher.text-center
                            img.img-fluid.w-50.rounded-circle.mx-auto.mb-4(src='assets/img/eddy.jpg' alt='Image')
                            .py-2
                                h3.text-black Pedro Lima
                                p.position MiEI
                                p
                                | Interesses: magia
                                p
                                a(href="https://github.com/Eddy32")
                                  i.fab.fa-github=" "+"eddy32"
                    .col-md-6.col-lg-4.mb-4(data-aos='fade-up' data-aos-delay='300')
                        .teacher.text-center
                            img.img-fluid.w-50.rounded-circle.mx-auto.mb-4(src='assets/img/squirtle.png' alt='Image')
                            .py-2
                                h3.text-black Ricardo Pereira
                                p.position MiEI
                                | Interesses: tartarugas
                                p
                                a(href="https://github.com/rrpereira")
                                  i.fab.fa-github=" "+"rrpereira"