extends ../layout

block content
  section.login-block
    .container
      .row
        .col-md-4.login-sec
          h2.text-center Login
          form.login-form(method='POST')
            .form-group
              label(for='exampleInputEmail1') Nome de Utilizador
              input.form-control(type='text' name='email' placeholder='Your email')
            .form-group
              label(for='exampleInputPassword1') Password
              input.form-control(type='password' name='password' placeholder='Password')

            button.btn.btn-login.float-right(type='submit' name='signin' value='Log in') Entrar

            a(href="/register") Ainda não tem uma conta?

        .col-md-8.banner-sec
              img.d-block.img-fluid(src='../assets/img/rip.jpg')
              .banner-text
                h2 Welcome!
                p
                  | intro engraçada para toda a gente ficar contente eheh
      
