doctype html
head
  include ../layout
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

body
  section.login-block
    .container
      .row
        .col-md-4.login-sec
          h2.text-center Login Now
          form.login-form(method='POST')
            .form-group
              label.text-uppercase(for='exampleInputEmail1') Username
              input.form-control(type='text' name='email' placeholder='Your email')
            .form-group
              label.text-uppercase(for='exampleInputPassword1') Password
              input.form-control(type='password' name='password' placeholder='Password')

            button.btn.btn-login.float-right(type='submit' name='signin' value='Log in') Submit

            a(href="/register") Já tem uma conta?

        .col-md-8.banner-sec
              img.d-block.img-fluid(src='https://static.pexels.com/photos/33972/pexels-photo.jpg' alt='First slide')
              .banner-text
                h2 Welcome!
                p
                  | intro engraçada para toda a gente ficar contente eheh
      
