include ../default.pug
head

link(rel='stylesheet' href='../css/topics.css')

body

.limiter
  .container-table100
    .wrap-table100
      .table
        .row.header
            .cell Title
            .cell N.ยบ de Posts
            if (group.admins.includes(user._id))
                .cell Options
        each e in lista
            .row
                .cell
                    a(href='http://localhost:5004/groups/' + e.idGrupo + '/topic/'+ e._id + '?nmT=' + e.title + '&nmG='+ group.name + '&bio=' + group.bio + '&tamanho=' + group.users.length)= e.title

                .cell= e._id
                if (group.admins.includes(user._id))
                .cell(style="padding:0 60px;")
                    form(action=('http://localhost:5004/groups/' + group._id + '/rmTopic/' + e._id) method="POST")
                        input(type="submit" value="Remove")
      .table
        .row.header
            .cell membros
        each e in members
            .row
                .cell= e.name
                if user._id==group.owner
                    a(href='http://localhost:5004/removeMember/'+group._id) Apagar membro

    //-if (group.admins.includes(user._id))
        a(href='http://localhost:5004/group/'+group._id + '/viewPendent') Pedidos para Membros
