//- Favicon
link(href='assets/img/brand/favicon.png' rel='icon' type='image/png')
//- Fonts
link(href='' rel='stylesheet')
//- Icons
link(href='assets/js/plugins/nucleo/css/nucleo.css' rel='stylesheet')
link(href='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' rel='stylesheet')
//- CSS
link(type='text/css' href='/assets/css/argon.css' rel='stylesheet')
link(rel='stylesheet' href='../stylesheets/style.css')

//- Core
script(src='assets/js/plugins/jquery/dist/jquery.min.js')
script(src='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')
//- JS
script(src='assets/js/argon.min.js')

link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')





